%section{style:'background-color:#efefef;'}
  %div.navbar.navbar-default.navbar-static-top
    %div.container
      %h1.sr-only Item Actions
      %ul.nav.navbar-nav
        %li
          %div.btn-group
            %button.btn.btn-default.navbar-btn Save
            %button.btn.btn-default.navbar-btn Cite
            %button.btn.btn-default.navbar-btn Email
            %button.btn.btn-default.navbar-btn Share

      %ul.nav.navbar-nav.navbar-right
        %li
          %p.navbar-text
            %strong
              %a Result 2 of 694
        %li
          %div.btn-group
            %button.btn.btn-default.navbar-btn « Previous result
            %button.btn.btn-default.navbar-btn Next result »
