---
title: Performer at the "Masters of Traditional Arts" Smithsonian Folklife Program
---

%section#metadata
  %div.container
    %div.row
      %div.col-xs-12.col-sm-6.col-md-6.col-lg-6
        %div.row
          %div.col-xs-3.col-sm-4.col-md-3.col-lg-3
            %img{alt:'Performer at the "Masters of Traditional Arts" Smithsonian Folklife Program', src:'http://sirismm.si.edu/siahistory/imagedbthb/88-15145.07thb.jpg', style:'margin-top:20px;', width:'200%'}

        / http://blacktheater.lib.umn.edu/catalog/e317664305effc523856d5abdc3c580e
        %h1.h3{style:'font-style:italic;'} Performer at the "Masters of Traditional Arts" Smithsonian Folklife Program
        %h2.h4{style:'color:#777777'} Minor-Penland, Laurie / 1988

        %h3.h4 Description
        %p A performer plays the harmonica in the "Masters of Traditional Arts" program at the Smithsonian's 1994 Festival of American Folklife. Some 1 million visitors from many parts of the United States and abroad attend the Festival of American Folklife at the Smithsonian Institution in Washington, D.C. At the festival, craftspersons, musicians, dancers, storytellers and cooks demonstrate and discuss their traditional skills. The festival is co-sponsored by the Smithsonian and the National Park Service

        %a.btn.btn-default.btn-lg{href:'http://collections.si.edu/search/results.htm?q=record_ID%3Asiris_sic_10189&repo=DPLA'} View Original

        %div#technical-metadata
          %dl
            %dt Type
            %dd Image
            %dt Format
            %dd Color: Black and White; Size: 10w x 8h; Type of Image: Person, candid; Medium: Photographic print
            %dt Record ID
            %dd e317664305effc523856d5abdc3c580e

        %h4 Contributing Partner
        = image_tag 'smithsonian.png', {class:'img-responsive', style:'max-height:40px;', alt:'Smithsonian Institution'}

      %div.col-xs-12.col-sm-5.col-sm-offset-1{style:'border-left:1px solid #efefef;'}
        %div.row{style:'margin-top:20px;'}
          %div.col-sm-12
            %h3.h4 Place / Washington D.C.
            %div#map

            %h3.h4 Subjects
            %ol.list-unstyled.subjects
              %li
                %a.label.label-default{href:''} African Americans
              %li
                %a.label.label-default{href:''} Blues (Music)
              %li
                %a.label.label-default{href:''} Festival of American Folklife
              %li
                %a.label.label-default{href:''} Folk festivals
              %li
                %a.label.label-default{href:''} Folk music
              %li
                %a.label.label-default{href:''} Minor-Penland, Laurie
              %li
                %a.label.label-default{href:''} Music
              %li
                %a.label.label-default{href:''} Musical instruments
              %li
                %a.label.label-default{href:''} Musicians
              %li
                %a.label.label-default{href:''} Smithsonian Folklife Festival

            %h4 Related Images in UMBRA
            %div#related-images
              %a{href:'#', title:'Image title'}
                %div.item{style:'background:url(http://sirismm.si.edu/siahistory/imagedbthb/95-1195thb.jpg); background-repeat: no-repeat; background-position:center;'}
                  %p.sr-only Image title
              %a{href:'#', title:'Image title'}
                %div.item{style:'background:url(http://texashistory.unt.edu/ark:/67531/metapth300506/thumbnail/); background-repeat: no-repeat; background-position:center;'}
                  %p.sr-only Image title
              %a{href:'#', title:'Image title'}
                %div.item{style:'background:url(http://texashistory.unt.edu/ark:/67531/metapth285640/thumbnail/); background-repeat: no-repeat; background-position:center;'}
                  %p.sr-only Image title
              %a{href:'#', title:'Image title'}
                %div.item{style:'background:url(http://texashistory.unt.edu/ark:/67531/metapth285634/thumbnail/); background-repeat: no-repeat; background-position:center;'}
                  %p.sr-only Image title
              %a{href:'#', title:'Image title'}
                %div.item{style:'background:url(http://texashistory.unt.edu/ark:/67531/metapth284964/thumbnail/); background-repeat: no-repeat; background-position:center;'}
                  %p.sr-only Image title
              %a{href:'#', title:'Image title'}
                %div.item{style:'background:url(http://texashistory.unt.edu/ark:/67531/metapth285058/thumbnail/); background-repeat: no-repeat; background-position:center;'}
                  %p.sr-only Image title
              %a{href:'#', title:'Image title'}
                %div.item{style:'background:url(http://texashistory.unt.edu/ark:/67531/metapth227716/thumbnail/); background-repeat: no-repeat; background-position:center;'}
                  %p.sr-only Image title
              %a{href:'#', title:'Image title'}
                %div.item{style:'background:url(http://texashistory.unt.edu/ark:/67531/metapth285660/thumbnail/); background-repeat: no-repeat; background-position:center;'}
                  %p.sr-only Image title
              %a{href:'#', title:'Image title'}
                %div.item{style:'background:url(http://texashistory.unt.edu/ark:/67531/metapth285639/thumbnail/); background-repeat: no-repeat; background-position:center;'}
                  %p.sr-only Image title
              %a{href:'#', title:'Image title'}
                %div.item{style:'background:url(http://texashistory.unt.edu/ark:/67531/metapth285811/thumbnail/); background-repeat: no-repeat; background-position:center;'}
                  %p.sr-only Image title
